@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.banner-h {
    height: 584px;
}
.sixing {
    height: 100vh;
    object-fit: cover;
}
.check-icon {
    color: #5243C2;
}
.plan-btn {
    background-color: #f496d25b;
    color: ;
}
.plan-btn:hover {
    background-color: #f496d2b9;
}
.start-80 {
    left: 80%;
}
/* .pricing-div {
    width: 232px;
} */